<html>
  <head>
    <title>Categories</title>
    <link rel="stylesheet" type="text/css" href="./dashboardaddproduct.css" />
    <link rel="stylesheet" href="util.css" />
  </head>

  <body>
    <div class="container">
      <nav class="navbar" style="width: 100%;">
        <div class="container">
          <ul class="nav-list">
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/dashboard-product">Dashboard</a></li>
            <li><a href="/dashboard-category">Category</a></li>
            <li><a href="/dashboard-product">Products</a></li>
          </ul>
        </div>
      </nav>
      <header>
        <h1>Category</h1>
        <a href="/register-category"><button>Add Category</button></a>
      </header>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each categories}}
            <tr>
              <td>{{this._id}}</td>
              <td>{{this.name}}</td>
              <td>
                <a href="/edit-category/{{this._id}}">
                  <button style="background-color: green">Edit</button>
                </a>
                <button
                  class="delete-button"
                  style="background-color: red"
                  data-id="{{this._id}}"
                >
                  Delete
                </button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () { $(".delete-button").click(function () {
      const categoryId = $(this).data("id"); if (confirm(`Are you sure you want
      to delete this category ? `)) { $.ajax({ url:
      "http://localhost:7000/api/delete-category/" + categoryId, method:
      "DELETE", success: function (response) { alert(`Category deleted
      successfully!`); window.location.reload(); }, error: function (error) {
      alert("An error occurred. Please try again."); console.error(error); },
      }); } }); });
    </script>
  </body>
</html>